/* Hide the scrollbar */
body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none;
  }
  
  /* ----NavBar--- */
  
  p {
    color: #676968;
  }
  
  .navbar_button {
    border-radius: 8px;
    background: linear-gradient(90deg, #23899c 13.04%, #2ca068 91.03%);
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    border: none !important;
    font-size: 16px;
    padding: 5px 10px;
  }
  .navbar-button {
    border-radius: 8px;
    background: linear-gradient(90deg, #23899c 13.04%, #2ca068 91.03%);
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    border: none !important;
    font-size: 16px;
    width: 100% !important;
    height: 34px !important;
  }
  
  .dropdown-toggle::after {
    border-top-color: green !important;
  }
  
  /* Custom CSS to change carousel control button color to green */
  .carousel-control-prev,
  .carousel-control-next {
    background-color: green !important;
  }
  
  /* Custom CSS to change carousel control button icon color to white */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: white;
  }
  
  /* Navbar logo styles */
  .nav-logo {
    width: 210px !important;
    height: 34px !important;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: -950px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    padding-top: 50px;
  }
  
  .sidebar.active {
    left: 0;
  }
  #navbarDropdownSolutions,
  #navbarDropdownIndustries,
  #navbarDropdownTechnologies,
  #navbarDropdownPortfolio {
    color: #676968;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  
  #nav-a {
    color: #676968 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    text-align: left;
  }
  #nav-sidebar-ul {
    font-weight: 400;
    gap: 10px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  
  .cancel-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  .nav-logo-sidebar {
    width: 138px !important;
    height: 22.35px !important;
    margin-top: -50px !important;
    margin-left: 20px !important;
  }
  
  @media (max-width: 425px) {
    .nav-logo {
      height: 30px !important;
      width: 140px !important;
    }
  }
  
  /* ----NavBar--- */
  
  
/* ---Section - 1 Application Modernization Services --- */

.Application-modernization-services-hero{
    margin-top: 120px;
}

.modernization-services-hero-part1 h1{
    font-size: 56px;
}

.modernization-services-hero-part1 h6{
    margin-top: 30px;
}

.modernization-hero-btn1 button{
    width: 214px;
    height: 42px;
    border-radius: 8px;
    padding: 0px 21px 0 21px;
    color: #ffffff;
    border: none;
    font-weight: 600;
    background: linear-gradient(90deg, #248B97 0%, #2CA068 100%);

}

.modernization-services-hero-part2 img{
    height: 410px;
}

@media (max-width:425px){
    .Application-modernization-services-hero{
        margin-top: 90px;
    }
    .modernization-services-hero-part1 h6{
        margin-top: 0px;
        text-align: center;
    }
    
    .modernization-services-hero-part1 h1{
        font-size: 36px;
        text-align: center;
    }
    .modernization-services-hero-part1 p{
        font-size: 14px;
    }
    .modernization-hero-btn1{
        height: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modernization-services-hero-part2 img{
        margin-top: 40px;
        height: 350px;
    }
}

/* ---Section - 1 Application Modernization Services --- */



/* ---Section - 2 Application Modernization Services  */


  .Application-modernization-services {
    margin-top: 100px;
  }

  .Application-modernization-services-head h1{
    position: relative;
    margin-bottom: 30px;
  }

  .Application-modernization-services-head h1::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-left: 15px;
    width: 54px;
    height: 4px;
    border-radius: 5px;
    background-color: #2CA068;

  }
  .modernization-services-column {
    /* border: 1px solid #ccc; */
    padding: 10px;
    /* height: 552px;  */
  }
 .modernization-services-section-2{
    margin-top: 50px !important;
 }


  .hidden-ams {
    display: none; 
  }
  .active-ams {
    /* background: #2CA068; */
    
    font-weight: 600;
    
  }
  .active-ams p{
    color: #2CA068 !important ;
    font-size: 24px !important;
    font-weight: 600 !important;
    padding-left: 20px !important;
  }
  .active-ams p::before{
    position: absolute;
    content: " ";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #2CA068;
    margin-left: -20px;
    margin-top: 15px;
  }

  .application-para{
    height: 59px;
   
    }
    .application-para p{
        margin-left: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #000000 ;
        cursor: pointer;
   
    }
    .modernization-services-column img{
        height: 450px;
        width: 450px;
        margin-left: -270px;
     
    }
    .modernization-services-column .col p{
        margin-top: 120px;
        font-size: 14px;
        margin-left: -70px;
    
    }
  
    @media (max-width:425px){
        .Application-modernization-services{
            display: none;
        }
    }
   @media (min-width:426px){
    .modernization-services-res{
        display: none;
    }
}

  

  /* Application Modernization Services Responsive */

  @media (max-width:320px){
    .modernization-res-sec1{
      margin-left: 40px !important;
  }
  .modernization-res-sec1 .fa-light{
    margin-left: 5px !important;
  }

  }

  @media (max-width:425px){
    .modernization-services-res{
        margin-top: 50px;
    }
    
    .modernization-res-show-down {
        display: none; 
    }
    .section-3{
        display: none;
    }

    .modernization-services-res-head h1{
        position: relative;
        font-size: xx-large;
    }

    .modernization-services-res-head h1::after{
        content: "";
        position: absolute;
        top: 51%;
        margin-left: 15px;
        width: 28px !important;
        height: 3px !important;
        border-radius: 50px !important;
        background-color: #2CA068;
    }
    .modernization-icon-res {
      background: linear-gradient(180deg, #23899C 0%, #2CA068 100%) !important;
      color: #ffffff !important;
    }
    .modernization-icon-res i{
      color: #23899C;
    }

    .modernization-res-sec1 label{
      color: #000000 ;
    }
    .toggle-icon.active {
        background-color: #2CA068; 
        color: #FFF; 
        border-radius: 50%; 
        padding: 5px;
    }
    .modernization-services-res-head h1{
        margin-left: 12px;
    }
    .modernization-services-res-head p{
        text-align: left;
    }
    
    .modernization-res-sec1 .modernization-icon-res {
        background: #E9E9E9;  
        border-radius: 50%;
        color: #ACACAC;
        padding: 10px;        
        font-size: 16px;   
        display: inline-flex;       
        align-items: center;       
        justify-content: center; 
        width: 40px;  
    }
    .modernization-res-sec1{
        margin-left: 35px ;
    }

    .toggle-icon{
        margin-left: 20px;
    }
    
    .modernization-res-sec1 label {
   
        position: absolute;
        left: 30px;
        font-size: 16px;
        font-weight: 500;
    }
    .modernization-res-sec1 i{
        position: absolute;
        right: 30px;
        font-weight: 600;
    }
    .modernization-services-res-part1{
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin-top: 50px;
        margin-left: -60px;
    }
    
    .modernization-res-show-down{
        /* width: 300px; */
        margin-left: 60px;
        margin-top: 30px;
        
    }
    .modernization-res-show-down p{
        text-align: justify;
        font-size: 12px;
        padding: 0 20px;
    }

  } 

@media(max-width:425px){
    .modernization-services-res-head h1{
        position: relative;
        /* font-size: 35px; */
    }

    .modernization-services-res-head h1::after{
        content: "";
        position: absolute;
        top: 76%;
        margin-left: 15px;
        width: 54px;
        height: 4px;
        border-radius: 5px;
        background-color: #2CA068;
    }
}

  .modernization-res-sec1.active label{
    padding-left: 30px;

  }

.modernization-res-sec1.active::before{
    position: absolute;
    content: " ";
    height: 10px;
    width: 10px;
    left: 30px;
    border-radius: 50%;
    background-color: #2CA068;
    /* margin-left: -20px; */
    margin-top: 5px;

}

.modernization-res-sec1.active i{
    right: 35px;
}

.modernization-res-sec1.active label{
    color: #2CA068;
    font-size: 18px;
    font-weight: 600;
}

.modernization-res-sec1.active i{
    color: #2CA068;
}

@media(min-width:321px)and (max-width:375px){
    .modernization-res-sec1 label{
        width: 300px;
    }
    .modernization-services-res-head h1::after{
        top: 85% !important;
    }
}
@media(min-width:376px)and (max-width:425px){
    .modernization-res-sec1 label{
        width: 380px;
    }
}
@media (max-width:320px){
    .modernization-services-res-head h1::after{
        top: 85% !important;
    }
}

  /* ---Section - 2 Application Modernization Services  */




/* ---Secton - 3 Why Choose Us--- */

.why-choose-us{
    margin-top: 100px;
}

.why-choose-us-head h1{
    position: relative;
}

.why-choose-us-head h1::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 54px;
    background-color: #2CA068;
    top: 25px;
    margin-left: 10px;
    border-radius: 60px;
}

.why-choose-us-row{
    padding-top: 40px;
}

.why-choose-us-col-1 img{
    padding-left: 30px;
}

.why-choose-us-col-2 h5,
.why-choose-us-col-2 p{
    margin-left: -180px;
}

@media(max-width:425px){
    .why-choose-us-head h1{
        font-size: xx-large;
    }
    .why-choose-us-head h1::after{
        height: 3px;
        width: 28px;
        top: 20px;
    }
    
    .why-choose-us-col-2 p{
        font-size: 12px;
    }
    .why-choose-us-col-2 h5{
        font-size: 18px;
    }
}

@media(min-width:376px) and (max-width:425px){
    .why-choose-us-col-1 img{
        padding-left: 20px;
    }
    
    .why-choose-us-col-2 h5,
    .why-choose-us-col-2 p{
        margin-left: -130px;
        padding-right: 15px;
    }
}

@media(min-width:321px) and (max-width:375px){
    .why-choose-us-col-1 img{
        padding-left: 10px;
    }
    
    .why-choose-us-col-2 h5,
    .why-choose-us-col-2 p{
        margin-left: -110px;
        padding-right: 15px;
    }
}

@media(max-width:320px){
    .why-choose-us-col-1 img{
        padding-left: 10px;
    }
    
    .why-choose-us-col-2 h5,
    .why-choose-us-col-2 p{
        margin-left: -90px;
        padding-right: 15px;
    }
}

/* ---Secton - 3 Why Choose Us--- */


/* ----Section - 4 - Technologies Expertise---- */

.technologies-expertise{
    margin-top:150px !important;
  }
  .technologies-part-1 .col p {
    position: relative;
    display: inline-block;
    cursor: pointer; 
    margin: 0 auto; 
    padding-bottom: 5px; 
  }
  
  .technologies-part-1 .col p.active-tab::after {
    position: absolute;
    content: "";
    top: calc(100% - 4px); 
    left: 0; 
    width: 100%; 
    height: 3px;
    border-radius: 2px;
    background-color: #2CA068; 
  }
  
  .technologies-head1{
    margin-top: 40px !important;
    margin-left: 20px !important;
  }
  
  
  .active-tab {
    font-weight: bold;
    color: #000000; 
    cursor: pointer;
  }
  
  .content {
    display: none; 
  }
  
  .visible {
    display: block; 
  }
  
  
  .technologies-expertise-heading {
      position: relative;
      margin-top: 100px;
  }
  
  .technologies-expertise-heading::after {
      content: "";
      position: absolute;
      top: 51%;
      margin-left: 15px;
      width: 54px;
      height: 4px;
      border-radius: 5px;
      background-color: #2CA068;
  }

  
  .section5-skills p {
      padding: 13px;
  }
  
  .section5-btn1 button{
      margin-left: 40%;
      margin-top: 50px;
      height: 42px;
      width: 189px;
      color: #fff;
      border-radius: 8px;
      border: none;
      font-weight: 500;
      background: linear-gradient(93.27deg, #23899c -14.73%, #2ca068 104.65%);
      box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
  }
  
  .hidden-content {
      /* display: none; */
  }
  
  .content {
      margin-top: 20px;
    
  }
  
  .heading-button:hover {
      background-color: lightgray;
      cursor: pointer;
  }
  
  .technologies-part-1 .col p {
      cursor: pointer;
    
  }
  
  .technologies-part-1 .col p:hover {
      /* background-color: lightgray; */
  }
  
  .technologies-part-1 .col {
      flex: 0 0 auto;
      width: 200px; 
  }
  .technologies-part-1 .col:nth-child(odd) {
      margin-right: -70px;
  }
  .technologies-part-1 .col:nth-child(even) {
      margin-right: -70px;
  }
  
  /* Hide scrollbar for WebKit browsers */
  .overflow-auto::-webkit-scrollbar {
      display: none;
  }
  
  .image-container {
      display: flex; 
      flex-wrap: nowrap; 
      overflow-x: auto; 
  }
  
  .image-container img {
      max-width: 100px;
      margin-right: 30px; 
  }
  .image-container::-webkit-scrollbar{
      display: none;
  }
  .technologies-expertise-images{
    margin-top: 30px;
  }
  .technologies-backend-img{
    margin-left: 100px ;
  }
  .technologies-mobility-img,
  .technologies-design-img{
    margin-left: 200px;
  }
  .technologies-qa-img,
  .technologies-database-img,
  .technologies-devops-img{
    margin-left: 300px;
  }
  .technologies-cms-img{
    margin-left: 400px;
  }
  @media(max-width:425px){
    .technologies-expertise{
        padding-top: 50px;
    }
    .technologies-expertise-part1 p{
        font-size: 14px;
        
    }
  }
  
  @media (min-width:376px)and (max-width:425px){
        .technologies-expertise-heading {
          position: relative;
        font-size: 30px;
      }
      .technologies-expertise{
        margin-top: -100px !important;
      }
      .technologies-expertise-images{
        margin-top: 40px;
      }
  
      .technologies-head1 {
        margin-left: 5px !important;
      }
      .technologies-part-1{
        margin-left: -25px;
      }
      .technologies-expertise-heading::after {
          content: "";
          position: absolute !important;
          /* margin-top: 0px; */
          margin-left: 10px;
          width: 28px !important;
          height: 3px !important;
          border-radius: 50px !important;
          background-color: #2CA068;
      }
      .section5-btn1 button{
          margin-left: 90px;
      }
     
      .technologies-backend-img,
      .technologies-mobility-img,
      .technologies-design-img,
      .technologies-qa-img,
      .technologies-database-img,
      .technologies-devops-img,
      .technologies-cms-img{
        margin-left: 10px;
      }
      
  }
  
  @media (min-width:326px)and (max-width:375px){
      .technologies-expertise-heading {
          position: relative;
        font-size: 26px;
      }
      .technologies-expertise{
        margin-top: -100px !important;
      }
      
      .technologies-expertise-heading::after {
          content: "";
          position: absolute !important;
          /* margin-top: 0px; */
          margin-left: 10px;
          width: 28px !important;
          height: 3px !important;
          border-radius: 50px !important;
          background-color: #2CA068;
      }
      .section5-btn1 button{
        margin-left: 60px;
      }
      .technologies-head1 {
        margin-left: 5px !important;
      }
      .technologies-part-1{
        margin-left: -25px;
      }
      .technologies-backend-img,
      .technologies-mobility-img,
      .technologies-design-img,
      .technologies-qa-img,
      .technologies-database-img,
      .technologies-devops-img,
      .technologies-cms-img{
        margin-left: 10px;
      }
  }
  @media (max-width:325px){
    .technologies-expertise{
      margin-top: -100px !important;
    }
      .technologies-expertise-heading {
          position: relative;
        font-size: 23px;
      }
      .technologies-head1 {
        margin-left: 5px !important;
      }
      .technologies-part-1{
        margin-left: -25px;
      }
      
      
      .technologies-expertise-heading::after {
          content: "";
          position: absolute !important;
          /* margin-top: 0px; */
          margin-left: 10px;
          width: 28px !important;
          height: 3px !important;
          border-radius: 50px !important;
          background-color: #2CA068;
      }
      .section5-btn1 button{
          margin-left: 30px;
      }
      .technologies-backend-img,
      .technologies-mobility-img,
      .technologies-design-img,
      .technologies-qa-img,
      .technologies-database-img,
      .technologies-devops-img,
      .technologies-cms-img{
        margin-left: 10px;
      }
  }
  
    
  
  /* ----Section - 4 - Technologies Expertise---- */
  

/* ----Section - 5 Application Modernization Benefits---- */





/* ----Section - 5 Application Modernization Benefits---- */

